<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FlexSchedulerHome" connectionString="Server=BROOKE-PC\SQLEXPRESS; Database=FlexScheduler;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>